---

---

<footer class="text-center -mt-24 text-xs">
  Developed with <span class="text-pink-600">❤</span> By <a
    href="https://surendaryama.github.io"
    class="text-purple-600 hover:text-pink-600 font-bold font-sure-i"
    >Surendar Yama</a
  >
</footer>
